<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiteMate Crud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
 
    </style>
</head>
<body>

    <div class="container">
        <h1 class="mt-5 text-center">SITE MATE CRUD</h1>
        <hr>
        <!-- Your content goes here -->

        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3"></textarea>
                  </div>
    
                  <button onclick="createTask()" class="btn btn-primary">Add</button>
            </div>
        </div>

        <hr>
        <div >
            <div class="card-header d-flex justify-content-between mb-2">
                <h5>ID</h5>
                <h5>TITLE</h5>
                <h5>DESCRIPTION</h5>
                <div>
                    ACTION

                </div>
            </div>
            <div class="card p-2" id="task">
                
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>

        function renderHtml(data){
            data.forEach(element => {

                document.getElementById('task').innerHTML += `
                    <div class="card-header d-flex justify-content-between mb-2">
                            <h5>${element.id}</h5>
                            <h5>${element.title}</h5>
                            <h5>${element.description}</h5>
                            <div>
                                <button class="btn btn-sm btn-warning">Edit</button>
                                <button class="btn btn-sm btn-danger">Delete</button>

                            </div>
                        </div>

                    `
                
            });

        }

        function createTask(){
            fetch('/api/',{
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    title: document.getElementById('title').value,
                    description: document.getElementById('description').value
                })
            })
            .then(response => response.json())
            .then(data => {
                element = data['task']
                document.getElementById('task').innerHTML += `
                <div class="card-header d-flex justify-content-between mb-2">
                    <h5>${element.id}</h5>
                    <h5>${element.title}</h5>
                    <h5>${element.description}</h5>
                    <div>
                        <button class="btn btn-sm btn-warning">Edit</button>
                        <button class="btn btn-sm btn-danger">Delete</button>

                    </div>
                </div>
 
                `
                // renderHtml(data)
            })
            .catch((error) => {
                console.error('Error:', error);
            })


        }

        function showList(){
            fetch('/api/',{
                method: 'GET',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
            })
            .then(response => response.json())
            .then(data => {
                renderHtml(data['tasks'])
            })
            .catch((error) => {
                console.error('Error:', error);
            })
        }

        showList();
    </script>
</body>
</html>