<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiteMate Crud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
 
    </style>
</head>
<body>

    <div class="container">
        <h1 class="mt-5 text-center">SITE MATE CRUD</h1>
        <hr>
        <!-- Your content goes here -->

        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3"></textarea>
                  </div>
    
                  <button onclick="createTask()" class="btn btn-primary">Add</button>
            </div>
        </div>

        <hr>
        <div >
            <div class="card-header d-flex justify-content-between mb-2">
                <h5>ID</h5>
                <h5>TITLE</h5>
                <h5>DESCRIPTION</h5>
                <div>
                    ACTION

                </div>
            </div>
            <div class="card p-2" id="task">
                
            </div>
        </div>
    </div>

    <!--EDIT MODAL-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="idEdit" style="visibility: hidden;">
                <div class="mb-3">
                    <label for="" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleEdit" placeholder="">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <textarea class="form-control" id="descriptionEdit" rows="3"></textarea>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="saveEdit()">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <button style="visibility: hidden;" id="editClick" type="button" data-bs-toggle="modal" data-bs-target="#editModal"></button>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>

        function renderHtml(data){
            data.forEach(element => {

                document.getElementById('task').innerHTML += `
                    <div class="card-header d-flex justify-content-between mb-2" id="unique${element.id}">
                            <h5>${element.id}</h5>
                            <h5 id="uniqueTitle${element.id}">${element.title}</h5>
                            <h5 id="uniqueDescription${element.id}">${element.description}</h5>
                            <div>
                                <button onclick="openEditmodal(${element.id})" class="btn btn-sm btn-warning">Edit</button>
                                <button class="btn btn-sm btn-danger" onclick="deleteList(${element.id})">Delete</button>

                            </div>
                        </div>

                    `
                
            });

        }

        function createTask(){
            fetch('/api/',{
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    title: document.getElementById('title').value,
                    description: document.getElementById('description').value
                })
            })
            .then(response => response.json())
            .then(data => {
                element = data['task']
                document.getElementById('task').innerHTML += `
                <div class="card-header d-flex justify-content-between mb-2" id="unique${element.id}">
                    <h5>${element.id}</h5>
                    <h5 id="uniqueTitle${element.id}">${element.title}</h5>
                    <h5 id="uniqueDescription${element.id}">${element.description}</h5>
                    <div>
                        <button class="btn btn-sm btn-warning" onclick="openEditmodal(${element.id})">Edit</button>
                        <button class="btn btn-sm btn-danger" onclick="deleteList(${element.id})">Delete</button>

                    </div>
                </div>
 
                `
                // renderHtml(data)
            })
            .catch((error) => {
                console.error('Error:', error);
            })


        }

        function showList(){
            fetch('/api/',{
                method: 'GET',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
            })
            .then(response => response.json())
            .then(data => {
                renderHtml(data['tasks'])
            })
            .catch((error) => {
                console.error('Error:', error);
            })
        }

        function deleteList(id){
            fetch('/api/',{
                method: 'DELETE',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    id: id
                })
            })
            .then(response => response.json())
            .then(data => {
                // showList()
                document.getElementById(`unique${id}`).remove()
            })
            .catch((error) => {
                console.error('Error:', error);
            })
        }

        showList();

        function openEditmodal(id){
            document.getElementById('editClick').click();
            title = document.getElementById(`uniqueTitle${id}`).innerHTML
            description = document.getElementById(`uniqueDescription${id}`).innerHTML
            document.getElementById('titleEdit').value = title
            document.getElementById('idEdit').value = id
            document.getElementById('descriptionEdit').value = description
        }

        function saveEdit(){
            fetch('/api/',{
                method: 'PUT',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    id: document.getElementById('idEdit').value,
                    title: document.getElementById('titleEdit').value,
                    description: document.getElementById('descriptionEdit').value
                })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById(`uniqueTitle${data['task'].id}`).innerHTML = data['task'].title
                document.getElementById(`uniqueDescription${data['task'].id}`).innerHTML = data['task'].description
            })
            .catch((error) => {
                console.error('Error:', error);
            })
        }


    </script>
</body>
</html>